.post-container {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.post {
  color: black;
  background-color: #fafafa;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 2%;
}

.viewpost {
  margin: auto;
  padding: 10px;
}
