.post-container {
  position: relative;
  width: 60%;
  padding: 20px;
}

.post-row {
  align-items: center;
  margin: 4px auto;
  color: black;
  background-color: lavender;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.post-user {
  font-size: 0.9rem;
}
.post-date {
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.post-title {
  font-size: 1.1rem;
  padding: 2px;
}

.post-content {
  font-size: 1rem;
  padding: 2px;
}
